.mat-dialog-container {
  padding: 0 !important;
  background: transparent;
  box-shadow: none !important;
  overflow: visible !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}