.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-top: 1px solid $alto;

  .pagination-prev, .pagination-next {
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 33px;
    display: inline-block;
    cursor: pointer;
  }

  .pagination-prev {
    background-image: url('/img/arrow-left.png');
    border-right: 1px solid $alto;
  }

  .pagination-next {
    background-image: url('/img/arrow-right.png');
    border-left: 1px solid $alto;
  }

  .pagination-current {
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 33px;
    height: 33px;
    text-transform: uppercase;
    span {
      color: $hit-gray;
    }
  }
}