@import "../colors";
.product-property, .product-table input {
  font-size: 15px;
  border: 1px solid $alto;
  border-radius: 15px;
  padding: 7px 12px;
  color: $white;
  display: block;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  line-height: 16px;
  width: 100%;
  font-weight: 400;
}