@import "../colors";
@import "../base/mixins";

baikingu-selectbox {
  display: block;
  width: 100%;
  max-width: 80%;

  &.in-scrollable {
    .selectbox-options-list {
      max-width: 300px;
      left: initial;
      right: initial;
    }
    .selectbox-wrapper {
      position: initial;
    }
  }
}

.selectbox-wrapper {
  position: relative;
  font-size: 18px;
  padding: 23px 50px 23px 30px;
  border: 1px solid $alto;
  border-radius: 5px;
  width: 100%;
  color: $mirage;
  background-color: $wild-sand;
  background-image: url('/icons/select_arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;
  cursor: pointer;

  &.is-opened .selectbox-options-list {
    display: flex;
  }
}

.selectbox-current, .selectbox-option {
  font-size: 18px;
}

.selectbox-current {
  text-align: left;
  font-weight: 600;
  &.is-empty {
    color: $hit-gray;
    font-weight: 400;
  }
}

.selectbox-options-list {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: 0px 0px 10px 2px rgba($mirage, 0.25);

  &.right {
    right: -101%;
    @include appear-direction-animation('right');
  }

  &.left {
    left: -101%;
    @include appear-direction-animation('left');
  }
}

.selectbox-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mirage;
  height: 67px;
  width: 100%;
  font-weight: 400;
  background-color: $white;
  border-bottom: 1px solid $alto;

  &.selectbox-empty {
    color: $hit-gray;
    background-color: $wild-sand;
    cursor: not-allowed;
  }

  &:last-child {
    border-bottom: 0;
  }

  &.is-selected {
    font-weight: 600;
  }
}

