@import "../colors";
@import "../base/mixins";

@mixin btn($radius, $height, $font-size, $color) {
  border-radius: $radius;
  text-align: center;
  height: $height;
  line-height: $height;

  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size;
  font-weight: 600;
  color: $color;
  white-space: nowrap;
  
  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin btn-fab($size, $bg-color, $shadow: 0 2px 8px rgba(0, 0, 0, 0.5)) {
  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: $bg-color;
  box-shadow: $shadow;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;

  &:focus {
    outline: none;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin button-base($radius, $height, $bg-color, $color, $font-size: 20px) {
  border: 0;
  border-radius: $radius;
  color: $color;
  display: inline-block;
  font-size: $font-size;
  height: $height;
  line-height: $height;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
  @if type-of($bg-color) == color {
    background-color: $bg-color;
    &:active {
      background-color: darken($bg-color, 10%);
    }
  }
  @else {
    background: $bg-color;    
  }
}

.btn {
  @include btn(50px, 70px, 17px, $mine-shaft);
  background: linear-gradient(to bottom, white 0%, $gallery 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  padding: 0 20px;
  display: inline-block;

  &:hover {
    background: $william;
    color: white;
    border: 1px solid white;
  }
}

.btn-library {
  border: 1px solid $alto;
  border-radius: 5px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 17px;
  color: white;
  text-decoration: none;

  &:hover, &.active {
    color: $cod-gray;
    background: white;
  }
}

.btn-secondary {
  @include btn(25px, 50px, 15px, white);
  border: 1px solid $alto;
  display: block;
}

.btn-settings {
   background-image: url('/img/settings-ico.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 40px;
   width: 100px;
   background-color: $william;
   border-radius: 0;
}

/* refactor part */
.btn-gradient {
  @include button-base(50px, 66px, linear-gradient(to bottom, $white 0%, $gallery 100%), $mirage);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  &:hover {
    background: $william;
    color: $white;
    border: 1px solid $white;
  }
}

.btn-primary {
  @include button-base(50px, 66px, $william, $white); 
  &.btn-accent {
    background: $pelorous;
  }
  &[disabled] {
    background-color: $hit-gray;
  }
}

.btn-success {
  @include button-base(50px, 66px, $downy, $white);
  &.btn-accent {
    background: $atlantis;
  }
  &[disabled] {
    background-color: $hit-gray;
  }
}

.btn-light {
  @include button-base(50px, 66px, $white, $william); 
  border: 1px solid $william;
  &[disabled] {
    background-color: $hit-gray;
  }
}

.btn-warn {
  @include button-base(50px, 66px, $flush-mahogany, $white);
}

.btn-fab {
  @include btn-fab(68px, rgba(118, 212, 159, 0.8));
}

.btn-back {
  @include btn-fab(60px, $william, none);
  @include background-icon('/img/back-white.svg');
  background-size: 24px;
}

.btn-next {
  @include btn-fab(60px, $william, none);
  @include background-icon('/img/next-white.svg');
  background-size: 24px;  
}