$alto: #d8d8d8;
$astronaut: #2a5073;
$bay-of-many: #26537c;
$boulder: #7a7a7a;
$cinnabar: #ee4c4c;
$cod-gray: #191919;
$dusty-gray: #9C9C9C;
$mine-shaft: #2d2d2d;
$wild-sand: #f4f4f4;
$dove-gray: #6e6e6e;

/* background */
$alabaster: #f9f9f9;

/* stroke */
$alto: #d8d8d8;

/* gradient */
$white: #fff;
$gallery: #eaeaea;

/* subtexts */
$hit-gray: #aab5ba;

/* fonts, icons */
$mirage: #181d27;

/* keypad */
$tundora: #464646;
$dove: #636363;

/* selections, buttons */
$william: #376996;        // main button
$atlantis: #84c835;       // green button
$flush-mahogany: #c93535; // red button
$pelorous: #36b5c8;       // teal button
$downy: #69c9bb;          // complete button