@import "./colors";

$aside-width: 215px;
$topbar-height: 84px;
$action-column: 120px;
$edit-item-box-padding: 15px;
$panel-margin: 2px;
$default-transition: .3s;

$icon-font-path: "/assets/bootstrap/";
