@import "variables";
@import "colors";
@import "reset";

@import "base/mixins";
@import "base/buttons";
@import "base/typography";
@import "base/grid";
@import "base/utils";
@import "base/forms";

body {
  font-weight: 600;
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}